In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('~/Desktop/driver.project/data/driver_imgs_list.csv')

In [3]:
df["target"] = df["subject"] + df["classname"]

In [4]:
#df[['img', 'target', 'subject', 'classname']]
df = df[['img', 'target']]

In [5]:
df.head(1)

             img  target
0  img_44733.jpg  p002c0

In [7]:
knn = pd.read_csv('~/Desktop/saved_models/nn12_rawpixels_trainset.csv')

In [8]:
knn.head(1)

,img,nn0,nn1,nn2,nn3,nn4,nn5,nn6,nn7,nn8,nn9,nn10,nn11
0,img_0.jpg,img_0.jpg,img_372.jpg,img_57953.jpg,img_65017.jpg,img_98963.jpg,img_27207.jpg,img_9106.jpg,img_99175.jpg,img_16374.jpg,img_73541.jpg,img_2868.jpg,img_11267.jpg

### Check whether 1st neighbour (nn0) is the original image, the answer is 'Yes', so we discard nn0.

In [9]:
knn_nn0 = knn.iloc[:, 0:2]

In [10]:
knn_nn0.head(1)

         img        nn0
0  img_0.jpg  img_0.jpg

In [11]:
knn.where(knn.iloc[:, 0] == knn.iloc[:, 1]).shape

(22424, 13)

In [12]:
knn.shape

(22424, 13)

In [13]:
knn = knn.drop('nn0', 1)

In [14]:
# discard nn11 
knn = knn.drop('nn11', 1)

### Merge knn with df

In [15]:
knn = pd.merge(knn, df, on = 'img', how = 'left')

In [16]:
knn.head(1)

,img,nn1,nn2,nn3,nn4,nn5,nn6,nn7,nn8,nn9,nn10,target
0,img_0.jpg,img_372.jpg,img_57953.jpg,img_65017.jpg,img_98963.jpg,img_27207.jpg,img_9106.jpg,img_99175.jpg,img_16374.jpg,img_73541.jpg,img_2868.jpg,p022c6

In [17]:
knn = pd.merge(knn, df, left_on = 'nn1', right_on = 'img', how = 'left', suffixes=('', '_nn1'))
knn = pd.merge(knn, df, left_on = 'nn2', right_on = 'img', how = 'left', suffixes=('', '_nn2'))
knn = pd.merge(knn, df, left_on = 'nn3', right_on = 'img', how = 'left', suffixes=('', '_nn3'))
knn = pd.merge(knn, df, left_on = 'nn4', right_on = 'img', how = 'left', suffixes=('', '_nn4'))
knn = pd.merge(knn, df, left_on = 'nn5', right_on = 'img', how = 'left', suffixes=('', '_nn5'))
knn = pd.merge(knn, df, left_on = 'nn6', right_on = 'img', how = 'left', suffixes=('', '_nn6'))
knn = pd.merge(knn, df, left_on = 'nn7', right_on = 'img', how = 'left', suffixes=('', '_nn7'))
knn = pd.merge(knn, df, left_on = 'nn8', right_on = 'img', how = 'left', suffixes=('', '_nn8'))
knn = pd.merge(knn, df, left_on = 'nn9', right_on = 'img', how = 'left', suffixes=('', '_nn9'))
knn = pd.merge(knn, df, left_on = 'nn10', right_on = 'img', how = 'left', suffixes=('', '_nn10'))

In [18]:
knn.head(3)

,img,nn1,nn2,nn3,nn4,nn5,nn6,nn7,nn8,nn9,...,img_nn6,target_nn6,img_nn7,target_nn7,img_nn8,target_nn8,img_nn9,target_nn9,img_nn10,target_nn10
0,img_0.jpg,img_372.jpg,img_57953.jpg,img_65017.jpg,img_98963.jpg,img_27207.jpg,img_9106.jpg,img_99175.jpg,img_16374.jpg,img_73541.jpg,...,img_9106.jpg,p022c6,img_99175.jpg,p022c6,img_16374.jpg,p022c6,img_73541.jpg,p022c6,img_2868.jpg,p022c6
1,img_10000.jpg,img_98614.jpg,img_33033.jpg,img_29521.jpg,img_18372.jpg,img_88035.jpg,img_100993.jpg,img_48785.jpg,img_99346.jpg,img_90724.jpg,...,img_100993.jpg,p035c5,img_48785.jpg,p035c5,img_99346.jpg,p035c5,img_90724.jpg,p035c5,img_4242.jpg,p035c5
2,img_100006.jpg,img_1879.jpg,img_1495.jpg,img_21703.jpg,img_29523.jpg,img_54480.jpg,img_26054.jpg,img_39363.jpg,img_26488.jpg,img_99754.jpg,...,img_26054.jpg,p064c3,img_39363.jpg,p064c3,img_26488.jpg,p064c3,img_99754.jpg,p064c3,img_3384.jpg,p064c3

In [19]:
knn = knn.drop(['img_nn1', 'img_nn2', 'img_nn3','img_nn4','img_nn5',
          'img_nn6','img_nn7','img_nn8', 'img_nn9', 'img_nn10'], axis=1)

In [20]:
knn.columns

Index(['img', 'nn1', 'nn2', 'nn3', 'nn4', 'nn5', 'nn6', 'nn7', 'nn8', 'nn9',
       'nn10', 'target', 'target_nn1', 'target_nn2', 'target_nn3',
       'target_nn4', 'target_nn5', 'target_nn6', 'target_nn7', 'target_nn8',
       'target_nn9', 'target_nn10'],
      dtype='object')

In [21]:
acc_n1 = knn.where(knn["target_nn1"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n2 = knn.where(knn["target_nn2"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n3 = knn.where(knn["target_nn3"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n4 = knn.where(knn["target_nn4"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n5 = knn.where(knn["target_nn5"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n6 = knn.where(knn["target_nn6"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n7 = knn.where(knn["target_nn7"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n8 = knn.where(knn["target_nn8"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n9 = knn.where(knn["target_nn9"] == knn["target"]).notnull().sum(axis=0)[0]
acc_n10 = knn.where(knn["target_nn10"] == knn["target"]).notnull().sum(axis=0)[0]

In [22]:
acc = { 'neighbour': range(1,11),
       'pred_correct':[acc_n1, acc_n2,acc_n3, acc_n4, acc_n5, acc_n6, acc_n7, acc_n8, acc_n9, acc_n10]}
result = pd.DataFrame(data=acc)
result["accuracy"] = result.pred_correct / len(knn.index)

In [23]:
result

   neighbour  pred_correct  accuracy
0          1         22354  0.996878
1          2         22270  0.993132
2          3         22177  0.988985
3          4         22108  0.985908
4          5         22009  0.981493
5          6         21910  0.977078
6          7         21766  0.970656
7          8         21677  0.966687
8          9         21591  0.962852
9         10         21498  0.958705

### Predicted correctly - first 2, 4, 6, 8, 10 neighbours

In [52]:
acc_first2_correct = (acc_n1 + acc_n2)
acc_first4_correct = (acc_n1 + acc_n2 + acc_n3 + acc_n4)
acc_first6_correct = (acc_n1 + acc_n2 + acc_n3 + acc_n4 + acc_n5 + acc_n6)
acc_first8_correct = (acc_n1 + acc_n2 + acc_n3 + acc_n4 + acc_n5 + acc_n6 + acc_n7 + acc_n8)
acc_first10_correct = (acc_n1 + acc_n2 + acc_n3 + acc_n4 + acc_n5 + acc_n6 + acc_n7 + acc_n8 + acc_n9 + acc_n10)

In [53]:
acc_first2 = acc_first2_correct/ (len(knn.index)*2)
acc_first4 = acc_first4_correct / (len(knn.index)*4)
acc_first6 = acc_first6_correct / (len(knn.index)*6)
acc_first8 = acc_first8_correct / (len(knn.index)*8)
acc_first10 = acc_first10_correct / (len(knn.index)*10)

In [60]:
acc2 = { 'neighbour': ["first2", "first4", "first6", "first8", "first10"],
       'pred_correct':[acc_first2_correct, acc_first4_correct, acc_first6_correct, acc_first8_correct, acc_first10_correct],
       'accuracy':[acc_first2, acc_first4, acc_first6, acc_first8, acc_first10]}

result2 = pd.DataFrame(data = acc2)

In [61]:
result2

  neighbour  pred_correct  accuracy
0    first2         44624  0.995005
1    first4         88909  0.991226
2    first6        132828  0.987246
3    first8        176271  0.982602
4   first10        219360  0.978238